[2016-06-09 02:23] meh9 opened #1 "add OpenStreetMap layers?"
@juan-guerschman logged an issue in the TerriaJS repo that belongs here: TerriaJS/terriajs#1605

[2016-06-09 02:28] meh9 commented on #1
Those OSM layers are actually sourced from a NASA server where they have made those layers available. Depending on the license we may be able to just use their layers.

However, as you noted in your separate email some of these layers exist in NationalMap already, but many of them will be for Australia only.

We'll look into it.

[2016-06-09 02:34] juan-guerschman commented on #1
Thanks, yes that's what I guessed. Best scenario find a WMS service we can already use. Worst case scenario, I think they can be downloaded from [http://planet.openstreetmap.org/](http://planet.openstreetmap.org/) and served from AusCover or similar.

thanks

[2016-06-09 02:44] juan-guerschman commented on #1
BTW, The Worldview is open source [https://github.com/nasa-gibs/worldview](https://github.com/nasa-gibs/worldview), they have a bunch of very cool stuff. Is it as simple as copying some of those features or I am too naive? For example the "Take a snapshot" thingy is cool.

[2016-06-09 03:48] meh9 commented on #1
Yeah, it looks good, in particular this line:

[2017-01-18 06:34] meh9 commented on #1
I've been having a look at those NASA layers, but there was a Terria bug blocking it that is now fixed in the next release:

https://github.com/TerriaJS/terriajs/issues/2327

This is the webservice to use:

https://gibs-a.earthdata.nasa.gov/wmts/epsg3857/best/wmts.cgi

[2017-01-19 01:46] juan-guerschman commented on #1
Great, does this mean that the wmts service will / cna be included in the next release of GEOGLAM RAPP Map?

[2017-01-20 00:53] meh9 commented on #1
Yep, I've just tested a prototype of it. Will let you know when we have something integrated properly.

Without borders:
<img width="1440" alt="screen shot 2017-01-20 at 11 46 29" src="https://cloud.githubusercontent.com/assets/5283003/22131343/ddd858d2-df06-11e6-8791-85a34e503693.png">

With borders:
<img width="1440" alt="screen shot 2017-01-20 at 11 46 47" src="https://cloud.githubusercontent.c

[2017-01-24 06:15] meh9 commented on #1
I've added in a borders and a labels layer, they'll be in the next release.

[2017-01-24 06:15] #1 closed, assigned to nobody

[2017-01-31 22:26] meh9 opened #3 "WPS response Data URL in About This Dataset is missing the hostname"
When you run a WPS process and get a response, the About This Dataset catalogue entry that is generated has a Data URL:

<img width="618" alt="screen shot 2017-02-01 at 09 15 52" src="https://cloud.githubusercontent.com/assets/5283003/22486795/15cd381e-e85f-11e6-9825-160e961f9205.png">

This Data URL returns a 404 because it's missing the hostname of the WPS server.

We should investigate why it's

[2017-02-02 06:34] meh9 opened #4 "Investigate splitting CSV multi-year timeseries data into separate years"
We need to investigate if we can make a nice graph from a multi-year timeseries split into individual years, like this:

![graph](https://cloud.githubusercontent.com/assets/5283003/22539367/b64d5c92-e96d-11e6-97de-bc04e6bee19d.png)

[2017-02-02 22:27] meh9 opened #5 "Investigate TerriaJS CSV default enabled column in graph off-by-one"
When a CSV with multiple columns is added to a graph one column is enabled by default. For some reason it is not the first column but the second one. Investigate if this is a Geoglam or Terria problem and fix/log issue as appropriate.

To test in Geoglam, load #test init file and run Test Data -> WPS National Map Tests -> Json Output, on any point. The result looks like:

<img width="339" alt="scr

[2017-02-07 07:29] meh9 opened #6 "Investigate why chart does not respect "yAxisMax" values"
Loading the `#test` init file and using the Test Data -> WPS from GSky-dev -> Geometry Drill on this point: -18.8335153964335,135.5764389038086 (use the search field to go there)

PV/NPV/BS `yAxisMax` are all set to 100, but the graph shows values up over 200:

<img width="1440" alt="screen shot 2017-02-07 at 18 28 58" src="https://cloud.githubusercontent.com/assets/5283003/22681811/568ce184-ed63-

[2017-02-16 03:37] nahidakbar commented on #3
Done and tested. PR #2362

[2017-02-16 03:38] nahidakbar commented on #6
Done but could not be tested. Reproduction steps does not seem to work in my box. PR #2362

[2017-02-24 06:41] juan-guerschman opened #7 "a few things don't look well in Internet Explorer"
1st - logos in disclaimer page not arranged nicely.
![image](https://cloud.githubusercontent.com/assets/8801702/23293065/0351accc-fab8-11e6-902f-3ec90871bb5c.png)

2 - legend for FC not resized to fit frame:
![image](https://cloud.githubusercontent.com/assets/8801702/23293074/1c60c2d4-fab8-11e6-9772-1490f94cedcd.png)

3 - when loading a new layer (total veg cover) IE freezes and stops working.
(it

[2017-03-09 02:39] kring commented on #7
1 is fixed by https://github.com/TerriaJS/geoglam-nm/pull/9.
2 is fixed by https://github.com/TerriaJS/terriajs/pull/2403
3 is caused by Internet Explorer taking a really long time to parse the ~800kB GetCapabilities response from the server, and completely blocking all updates while it is in progress.  I don't think there's anything we can do in TerriaJS to fix this, but it can be fixed by making

[2017-03-09 04:07] #7 closed, assigned to nobody

[2017-03-19 23:54] juan-guerschman opened #10 "Default loading with higher zoom"
As a consequence of an issue with the low resolution tiles, the lower zoom levels don't display FC and a few other layers. A user landing at such zoom level won't have a nice experience.

Can the default zoom level be like this one?

http://map.geo-rapp.org/#share=s-lrRbpr7ABFwtdx9veBcwbLQcrkN

[2017-03-20 00:15] juan-guerschman opened #11 "legend not scaled - NDVI and Total Cover"
I see the legend as this:
![image](https://cloud.githubusercontent.com/assets/8801702/24086154/73de46a4-0d5e-11e7-894e-4545bcbe9542.png)
not scaling to fit side column

[2017-03-20 00:45] meh9 commented on #11
Updated to resize legends to max 400px tall:

<img width="771" alt="screen shot 2017-03-20 at 11 43 15" src="https://cloud.githubusercontent.com/assets/5283003/24086373/818c9504-0d62-11e7-962f-dc27be05a108.png">

[2017-03-20 00:47] #11 closed, assigned to nobody

[2017-03-20 00:51] meh9 commented on #10
It is very difficult to do anything about this, because for the zoom to be high enough that you don't get any message you have to zoom in until the top and bottom of Africa is cut off on my screen.

[2017-03-20 04:24] meh9 commented on #3
This has been fixed.

[2017-03-20 04:24] #3 closed, assigned to nobody

[2017-03-20 04:31] meh9 commented on #6
Now respects the yAxisMax.

[2017-03-20 04:31] #6 closed, assigned to nobody

[2017-03-24 00:15] juan-guerschman commented on #10
ok, after talking with Pablo we decided to do the following.
Zoom level when landing remains the same.
But default raster loaded Ttoal cover instead of Fractional Cover.
Something like this:
http://map.geo-rapp.org/#share=s-974ncYWntg9yCGZhnkBZvlOa3Zu

This is how it looks in my screen:
![image](https://cloud.githubusercontent.com/assets/8801702/24275403/395d70b8-1083-11e7-8b44-5dc759877731.png)

[2017-03-24 04:39] meh9 commented on #10
Have made these changes.

[2017-03-24 04:39] #10 closed, assigned to nobody

[2017-03-26 23:39] juan-guerschman commented on #10
@meh9 I still see GEOGLAM RAPP loading FC by default, and not Total Cover.

[2017-03-27 01:48] meh9 commented on #10
The new version has been released.

[2017-04-18 23:52] meh9 opened #12 "Make Australia-centric test init file"
Test we can override initial camera and turn off default layers, etc.

[2017-04-21 03:30] meh9 commented on #12
Done in c63db3d181297fe06005a62541a5885f968a3fe4.

[2017-04-21 03:30] #12 closed, assigned to nobody

[2017-05-08 07:33] juan-guerschman opened #13 "Catalog reordering / additions (under /#australia )"
[D61] Catalog reordering / additions:

- Add new heading: “Australia”. Under such heading add:
- “Land Use/Land Cover” with:
1. - Catchment Scale Land Use 2016: http://data.gov.au/geoserver/ws_e4c5c71b_8d42_4ff3_b062_e24a76a636c9/wms (currently in Nat Map)
2. - Land Cover: http://services.ga.gov.au/gis/rest/services/Landcover_WM/MapServer
3. - Interim Biogeographic Regionalisation for Australia (I

[2017-05-08 07:51] juan-guerschman opened #14 "GEOGLAM RAPP instructions (for dummies)"
We wrote some "for dummies" instructions in http://www.geo-rapp.org/rapp-monitor/global-monitoring-system-rapp-map/ (beggining in "Below we give an overview of the tools available in the RAPP Map:")

Can these be merged, or referred to somehow from http://map.geo-rapp.org/about.html ?

[2017-05-12 07:40] juan-guerschman opened #15 "Rasters with time series data don't keep their "time" location when turned on/off, nor when creating direct link"
I'll try to explain the problem the best I can:
1- when there is a layer turned on with time series data, the time slider below can change the date being shown. However, if the layer is switched off, and then on again, there is no "memory" of what date it was being shown and it goes back to default (last avail).
2- similar with several time-series layers on display, it would be good if all layers

[2017-05-30 07:16] meh9 commented on #13
@a-stacey, this stuff goes in the file https://github.com/TerriaJS/geoglam-nm/blob/master/wwwroot/init/australia.json

[2017-05-30 07:17] meh9 commented on #13
Test like this: http://map.geo-rapp.org/#australia

[2017-05-30 07:20] meh9 commented on #13
@a-stacey, look for other init examples in: node_modules/terriajs/wwwroot/test/init/

[2017-06-05 01:56] juan-guerschman commented on #13
Thanks guys,
A few additional requests:
Organise new layers within folders (see below and first post)
delete feral camels layer

- Australia
   - Land Use/Land Cover
      1- Catchment Scale Land Use 2016:
      2- Land Cover
      3- IBRA
      4- Collaborative Australian Protected Areas Database (CAPAD)
      5- Physiographic Regions of Australia
   - Boundaries
      1- Natural Resource Managem

[2017-06-07 00:40] juan-guerschman opened #16 "Terria not sending request to GSKY with some polygons - Errors 400 and 500"
uploaded polygon to Map, tried Add Data -> Query Data -> existing polygon, selected this one and got error code 500. See print screen.
Similar error (but code 400) when selecting same polygon from this layer: http://censusdata.abs.gov.au/arcgis/rest/services/ASGS2016/ASGS2016BoundariesOnline/MapServer/7
Pablo Rozas says query doesn't get to GSKY

![image](https://user-images.githubusercontent.com/

[2017-06-14 12:48] juan-guerschman opened #17 "remove 'region' button from query data"
options not obvious and too Australia-centric

![image](https://user-images.githubusercontent.com/8801702/27132805-8970d430-5153-11e7-8529-c8d66955973f.png)

[2017-06-14 12:51] juan-guerschman opened #18 "give default names to polygons when user draws or uploads un-named polygons"
when user draws polygons for data drills or uploads file with un-named polygons, include default names, for example polygon1, polygon2 and so on.
Will be needed later on for returning plots / data.

[2017-06-22 03:25] juan-guerschman commented on #13
hi there, I have a meeting next week with the client and I was wondering if we could get this catalog reordering done as a priority in http://map.geo-rapp.org/#australia
@a-stacey

thanks

[2017-06-25 22:40] a-stacey commented on #13
Hi Juan,

When is your meeting this week?

I don't work Thursday / Friday, but working on this issue this morning.

[2017-06-25 23:16] juan-guerschman commented on #13
meeting is Thursday

[2017-06-25 23:22] a-stacey commented on #13
Thanks.

Will let you know once these updates are in place so that you can test them to make sure there are no issues.

[2017-06-25 23:23] juan-guerschman commented on #13
cool, great, thanks

[2017-06-26 10:12] meh9 commented on #16
Using the "Existing polygon" feature for the zipped KML file above is now fixed with the merging of this PR:

https://github.com/TerriaJS/terriajs-server/pull/72

(Note that the request can still time out if GSky doesn't return data in time.)

[2017-06-26 10:32] meh9 commented on #16
It appears it doesn't work with ArcGIS MapServers, only with other kind of polygons (KML, WMS). When using a MapServer based polygon layer it doesn't get a polygon name in the input box when you click the polygon. Maybe the server just isn't returning some data (like a name?) that we expect? @kring, any ideas?

[2017-06-26 10:33] meh9 commented on #13
@juan-guerschman, I put this live today, thanks @a-stacey!

[2017-06-26 10:33] #13 closed, assigned to a-stacey, meh9

[2017-06-26 10:34] meh9 commented on #15
This is being worked on in: https://github.com/TerriaJS/terriajs/pull/2572

[2017-06-26 11:06] kring commented on #16
Sorry, I'm not totally following you.  Can you walk me through the problem?

[2017-06-26 11:51] juan-guerschman commented on #16
question is for me or for @meh9 ?

[2017-06-26 11:55] kring commented on #16
@meh9, since he asked me for ideas.

[2017-06-27 04:26] a-stacey commented on #17
Have submitted a PR for this.

[2017-06-28 02:13] meh9 commented on #16
@kring, when we use the Geoglam WPS `Query Data` catalogue item and using the `Existing Polygon` function, this works with KML files and WMS polygon layers that return geometry data, but it does not appear to work with ArcGIS MapServer layers that return polygon data. My only observation is that when using the `Existing Polygon` and clicking on a WMS polygon, a polygon name appears in the input bo

[2017-06-28 06:17] juan-guerschman opened #20 "change config file to show day/month/year"
can the config file (https://github.com/TerriaJS/geoglam-nm/blob/master/wwwroot/init/geoglam.json#L40) change the following:

"currentTime": "dd mmmm yyyy",

(not sure if the syntax is correct, what I'd like is that the date is shown as "3 January 2017"

[2017-06-28 06:19] meh9 commented on #20
![image](https://user-images.githubusercontent.com/5283003/27622985-9a05306e-5c1d-11e7-9733-010d99413cb4.png)

[2017-06-28 06:27] juan-guerschman commented on #20
thenks @meh9 , I forgot to attach that for clarity

[2017-06-28 06:36] a-stacey commented on #20
Looks like there are 8 layers with the same formatting, do you want it changed for all:
- Vegetation Fractional Cover (PV, NPV & BS)
- Normalised Difference Vegetation Index (NDVI)
- Total Vegetation Cover (PV + NPV)
- Total Vegetation Cover Anomaly
- Rainfall-CHIRPS Precipitation - Absolute
- Rainfall-Anomalies
- Soil Moisture-Absolute
- Soil Moisture-Anomalies

[2017-06-28 06:39] juan-guerschman commented on #20
oh, I didn't realise it's layer-dependent.
I'd say it's for the following three (8-day step data):

- Vegetation Fractional Cover (PV, NPV & BS)
- Normalised Difference Vegetation Index (NDVI)
- Total Vegetation Cover (PV + NPV)

[2017-06-29 04:09] kring commented on #16
That makes sense, thanks.  I'm not sure offhand why picking polygons from ArcGIS layers doesn't work though.  Will have to investigate.

[2017-07-03 00:37] a-stacey commented on #20
Have updated for those 3 layers.

I don't understand the context of "8-day step data"?

[2017-07-03 00:48] juan-guerschman commented on #20
Thanks. I guess I have to wait until a refresh to see the changes?
"8-day step data" means that those 3 layers have an image every 8 days, not every month.

[2017-07-03 00:58] a-stacey commented on #20
Ah sure.

Yep will have to wait for a refresh to see the changes (not sure what the effort or constraints are around setting up continuous deployment).

[2017-07-03 01:17] a-stacey commented on #15
Just checking that you linked the right code there @meh9 because my understanding is that these two requests (listed in the description) are for different features then the one addressed in TerriaJS/terriajs#2572. The issue listed in TerriaJS/terriajs#2572 does address the second part of the issue title "Rasters with time series data don't keep their "time" location ... when creating direct link"

[2017-07-03 02:28] a-stacey commented on #5
Enable of column is made on https://github.com/TerriaJS/terriajs/blob/master/lib/Models/TableCatalogItem.js#L754

[2017-07-03 05:39] a-stacey commented on #5
Have submitted a PR for this:
https://github.com/TerriaJS/terriajs/pull/2587

[2017-07-04 00:48] juan-guerschman opened #21 "Make Query Data more visible"
Currently Query Data is within Data Catalogue and not obvious for many users.
Is it possible to make it more visible?
Option 1:
Next to the Add data button (e.g. split that space in two)

Option 2: Next to My Data as a third button.

see img below.

![media-20170704](https://user-images.githubusercontent.com/8801702/27811149-27cf34a8-60a6-11e7-9b3f-9225e0103247.png)

[2017-07-05 00:57] #20 closed, assigned to a-stacey

[2017-07-05 00:58] #17 closed, assigned to a-stacey

[2017-07-05 00:59] meh9 commented on #15
@a-stacey, yes, you are correct, I misunderstood, this is something different and not exactly what I linked to.

[2017-07-05 04:32] meh9 opened #22 "Make the Query Data input show warning for no data"
The Query Data input field should show when it doesn't have any data, so the user will know if the query is going to work or not.

[2017-07-05 04:42] meh9 opened #23 "Show WPS text responses from queries"
When we get the response for a WPS query, if there are sensible text fields from the response that we could show as part of the workbench on the left then we should do so. This allows the service to return useful metadata about the request. Note that I think AWAVEA does show some things already, so it may just be a matter of feeding back to GSky what fields to use.

[2017-07-05 04:54] meh9 commented on #18
Think about giving default names to points, or let the user set it. I.e. `Point 1`, `Point 2` etc, as input fields on the WPS request, but allow users to change it.

[2017-07-05 05:01] meh9 commented on #18
The problem we're trying to solve is making several Query Data requests for say points, and knowing which response is related to which query. How do we bet connect e.g. two points on the map to their responses in the workbench/chart?

[2017-07-05 06:59] tephenavies commented on #15
I had a bit of a poke around CatalogItem, ImageryLayerCatalogItem and WebMapServiceCatalogItem and it looks like the problem could be a one way sync between Cesium `DataSourceClock`s and counting time by incrementing the `_currentIntervalIndex` property.

Animating a layer changes it's `_currentIntervalIndex`. Hiding the layer preserves that until you unhide the layer, when Cesium's clock is updat

[2017-07-05 07:07] kring commented on #15
Sounds right to me.

[2017-07-06 06:09] meh9 opened #24 "Add distance measuring tool"
Let's add Mr Mustachio to GEOGLAM.

[2017-07-10 05:57] a-stacey commented on #22
I have added the following warning below the location text.

![locationwarning](https://user-images.githubusercontent.com/4453477/28004452-20178440-6588-11e7-924b-e83f0a94c140.png)

I looked into disabling the Run Analysis button when the warning is present, but it doesn't seem to be trivial to modify to support this behavior.

[2017-07-12 04:47] #24 closed, assigned to a-stacey

[2017-07-12 05:12] a-stacey commented on #14
Proposal: Add an anchor id="overview" at "HOME PAGE" in http://www.geo-rapp.org/rapp-monitor/global-monitoring-system-rapp-map/.

Further info on id attribute:
https://www.w3schools.com/html/html_links.asp

From http://map.geo-rapp.org/about.html -  "How to use the GEOGLAM RAPP Map" add a link with the following text: "A quick start guide for those new to the map is also available here: http://www

[2017-07-14 00:05] juan-guerschman commented on #16
any updates on this @meh9 @kring? I see the problem is still there. Thanks.

[2017-07-17 02:12] #22 closed, assigned to a-stacey

[2017-07-25 23:37] meh9 commented on #16
I believe that things are now working from a TerriaJS point of view with the two Pull Requests above merged.

[2017-07-26 01:43] a-stacey opened #36 "Timeslider share time becomes end time for some shares"
I have tried to reproduce this against TerriaMap, but at the moment I am only able to reproduce against Geogalm, although I have suspicion that this is an issue in TerriaJS.

Here is a share that is effected by this issue:
http://map.geo-rapp.org/#share=s-iFD9OwtbCx7rTmYQuvkpB6bMFYT

The following shows the instance loaded from the share link, with the end at the shared time but not
![screenshot f

[2017-07-26 04:30] juan-guerschman commented on #16
I still see the same problem with this layer:
http://www.environment.gov.au/mapping/services/ogc_services/capad/MapServer/WMSServer?service=WMS&version=1.3.0&request=GetCapabilities

example: http://map.geo-rapp.org/#share=s-lZ7JH8idx4EBsm5NpSL6LtesC18

same issue with this other layer: http://www.environment.gov.au/mapping/services/ogc_services/Natural_Resource_Management_Regions/MapServer/WMSSer

[2017-07-26 04:40] kring commented on #16
Looks like that server isn't returning polygon geometry from GetFeatureInfo.  The response looks like this:
[code]

That's why you also don't get a highlight when you click a polygon.  Not much we can do about that.

BUT the ArcGIS REST (instead of WMS) version of the same service _does_ include geometry.  So if you use that, it should work:
http://www.environment.gov.au/mapping/rest/services/ogc_

[2017-07-26 05:06] juan-guerschman commented on #16
great, @kring , how did you know about the REST thing? I mean how did you find it?

[2017-07-26 05:22] kring commented on #16
Oh I could tell from the URL that that is an ArcGIS server, and I know how Esri structures their URLs.  Basically just remove the WMS bit of the URL and add /rest/ in the right spot.

[2017-07-26 05:54] #5 closed, assigned to a-stacey

[2017-07-31 03:54] a-stacey commented on #36
Don't know why I couldn't reproduce this locally last week (might have just been trying to be to quick since was working on another issue at the time) since I seem to be able to reproduce locally today. Have submitted a PR which fixes the issue with the local problem which will need to be merged and then once merged Geoglam will need to be deployed against this version to resolve the issue.

Will

[2017-08-01 05:54] juan-guerschman opened #37 "Increase the size limit for uploaded shapefiles, currently 1MB"
A user wants to upload shapefiles of sizer larger than 1MB. Not sure what's a practical limit, but if possible 10 or 20 MB would be much better.

[2017-08-01 08:57] juan-guerschman commented on #1
hey @meh9
some time in the past you did this.
However, I was wondering how we could add roads. If you look in the example i sent  http://go.nasa.gov/1ZwE10E they offer three layers one being coastlines + borders + roads.

![image](https://user-images.githubusercontent.com/8801702/28817295-14478fec-76eb-11e7-8b8c-c28ee2f491d2.png)

In the web service we are grabbing the layers from there is no road

[2017-08-01 10:38] meh9 commented on #1
@juan-guerschman the `Area Borders` layer we are using is the same one as you have a screenshot of above and does actually already include the roads. I hadn't even realised that they were included, the name is kinda incorrect now. However, you do have to zoom pretty far in to see them.

In the below screenshot I've zoomed in more than required in order to better show that they are there. The fuzzy

[2017-08-01 23:14] juan-guerschman commented on #1
you're right @meh9 , my bad.
However it seems to me that these layers stop working at high zoom levels, is that something already set up in the source?
example (at least here):
http://map.geo-rapp.org/#share=s-6wiwmuCIPpJ5ZQyp9l34f0Vaj5S
and
http://map.geo-rapp.org/#share=s-aDLnCoSH3zd7r6neRxivrK54dwg

[2017-08-09 01:24] a-stacey commented on #37
Have updated the limit so that it is now set to 20MB (have not validated the performance of this on a remote connection so we will just have to see if this creates an issues for people uploading larger files - but locally this seems to work fine).

Have submitted a PR to TerriaJS so that the client-side validation will now use the server validation value. But we will need to wait till this PR is m

[2017-08-09 04:30] juan-guerschman commented on #37
great, thanks @a-stacey . Can you let me know when this takes effect so I test it?

[2017-08-14 23:57] mpaget commented on #21
Alternatively, consider:
1) 'Analysis tools' category to help draw the eye to the bold category label.
2) Each *.ini file creates a separate tab in the Add data window (Mats' idea)

[2017-08-15 00:02] meh9 opened #39 "Running Analysis Tools twice, replaces existing workbench controls for previous run"
E.g., `Precipitation` and `Veg. Frac.` from first run are replaced with second, making it impossible to enable/disable those lines on the chart.

[2017-08-15 05:54] a-stacey commented on #39
It looks to me that the response from GSKY doesn't contain any unique identifier such as the coordinates or request timestamp (other then the raw data), one such example:
[code]

The following code shows a line in the WebProcessingServiceCatalogItem.js that we can insert data to deduplicate, here I have just added a crude timestamp...but its not clear to me what effects would be here for layers be

[2017-08-16 01:37] a-stacey commented on #23
Was there particular data that you had in mind? I think that key here is filtering meaningfully (we don't want every piece of metadata in the response, we just want the useful attributes that we somehow intelligently choose (and presumably marked explicitly somewhere)). When I captured the GSKY response yesterday for another issue there didn't seem to be anything that was to meaningful in the resp

[2017-08-21 23:37] a-stacey commented on #39
@meh9 and I discussed this yesterday. We decided that the best approach would be to have GSKY updated to take a name parameter (which we will supply with the request) and then ask that GSKY append the name attribute (Precipitation and Veg. Frac.). I don't exactly love that we will be forcefully combining the names (which will offer less composition flexibility), but it does seem to be the best com

[2017-08-22 00:19] a-stacey commented on #21
After discussion with @meh9 and @kring yesterday we have decided that we will add a tool element to make it more visible.

E.g.
![analysis](https://user-images.githubusercontent.com/4453477/29543180-9ef1f24e-8722-11e7-9c15-2eeb6aed108c.png)

This will be implemented generically so that it makes it easier to add further elements in the future.

After discussing the above with @juan-guerschman will

[2017-08-27 23:54] a-stacey commented on #36
Have verified that this is now working correctly in the production instance.

[2017-08-27 23:54] #36 closed, assigned to a-stacey, meh9

[2017-08-28 02:06] a-stacey commented on #37
This is in production and have tested with the Australian Rangelands 7MB sample file that we have. The limit should now be 20MB.

[2017-08-28 02:06] #37 closed, assigned to a-stacey, meh9

[2017-11-30 00:49] juan-guerschman commented on #21
hey, back to this ticket. Now with tabs this would be quite straightforward:
Just a new tab for Analysis tools with three options inside.
I guess @meh9 already working on it but I bring it up here anyway.

![image](https://user-images.githubusercontent.com/8801702/33407225-7242d326-d5c4-11e7-9eb0-7ef417f6e931.png)

[2018-03-15 00:47] juan-guerschman opened #46 ""area borders" and "area labels" fail to display at high zoom levels"
works:
https://map.geo-rapp.org/#share=s-7bJLELvjmNUA3pme7MEJ63UvyQx

doesn't work:
https://map.geo-rapp.org/#share=s-kIBCHhfKW3n4x3uKkbsUbHUREIo

![image](https://user-images.githubusercontent.com/8801702/37438445-878c68a8-2846-11e8-8a12-22c939be0324.png)

![image](https://user-images.githubusercontent.com/8801702/37438451-91f2d9ee-2846-11e8-9a7b-bd6fd5ea54ff.png)

[2018-04-05 04:06] juan-guerschman commented on #46
was answered by @kring in here https://github.com/TerriaJS/terriajs/issues/2930#issuecomment-378796522

[2018-04-13 06:23] meh9 opened #47 "Add name parameter to Analysis Tools"
Let's add a name parameter to the Analysis Tools.

This will deal with the issues #39 and #18.

We have 3 functions, Point, Polygon, and Existing Polygon:

Point
Once the user has picked a point, show/enable an editable Name parameter and populate it by default to the lat/lon with 5 decimals.

Polygon
Once the user has drawn a polygon, show/enable an editable Name parameter and populate it by defa

[2018-04-13 06:28] a-stacey commented on #47
If another piece of geometry is selected after the initial piece of geometery the name replaces the name field irrespective of whether the user has overriden the name field or not (i.e. select polygon -> name populated -> select polygon -> name replaced).

[2018-04-23 02:04] juan-guerschman commented on #47
"populate it by default to the lat/lon with 5 decimals."

I'd suggest to populate by default with `point 1` and auto-increment this in the browser tab context, restart from 0 when the site is reloaded (same as polygon).

[2018-04-26 07:16] meh9 commented on #46
Actually not fixed, this is a different error.

[2018-05-02 23:41] a-stacey commented on #21
My understanding is that this has been completed now but I will leave this to @meh9 or @juan-guerschman to confirm or close (just going through some old issues assigned to me and trying to clean them up).

[2018-05-02 23:51] juan-guerschman commented on #21
yes, with tabs we solved most of the problem.

[2018-05-02 23:51] #21 closed, assigned to meh9

[2018-07-06 05:09] meh9 commented on #16
I believe this is now fixed.

[2018-07-06 05:09] #16 closed, assigned to nobody

[2018-07-06 05:09] meh9 commented on #15
I believe this is now fixed.

[2018-07-06 05:09] #15 closed, assigned to nobody

[2018-08-03 06:58] juan-guerschman commented on #46
can I bring this issue to the main TerriaJS GitHub to give it more visibility or it would be cheating? @meh9

[2018-08-03 07:01] juan-guerschman commented on #46
Actually @kring suggested a fix, in https://github.com/TerriaJS/terriajs/issues/2930#issuecomment-378796522 :

"
It's in `devserverconfig.json`. I'm not sure if that's something you maintain in GEOGLAM or not. But @meh9 or whoever should be able to add it in any case.
"

Can you give me a hand in finding where to do that?

[2018-08-03 07:45] meh9 commented on #46
The suggested fix in #2930 is for a different error and doesn't help here - it's for when we get unknown errors, i.e. no HTTP status code. The problem here is that we get a HTTPS status code 400, which is not unknown.

Adding the GIBS server to the proxy whitelist isn't going to fix this.

This issue is already logged in TerriaJS as #2945. The reason it's not been looked at is that this is the onl

[2018-08-03 07:49] juan-guerschman commented on #46
ah, ok. It's not priority, but an annoying error.
Brought it here as I thought the fix was easy.
thanks

[2019-03-20 02:19] AnaBelgun opened #58 "Update app to latest terriajs"
to update the app to latest terria js version once the latest changes are merged: https://github.com/TerriaJS/terriajs/blob/master/CHANGES.md

[2019-04-01 00:06] #58 closed, assigned to na9da

[2019-04-14 10:43] AnaBelgun opened #60 "Geoglam - Apr 2019 release"
checklist for Apr:

- [ ] update with latest terriajs version if possible with: https://github.com/TerriaJS/terriajs/issues/3285 and the story: https://github.com/TerriaJS/terriajs/pull/3228 and https://github.com/TerriaJS/terriajs/pull/3257

[2019-04-14 23:30] soyarsauce commented on #60
https://github.com/TerriaJS/geoglam-nm/issues/46 will also be resolved (via https://github.com/TerriaJS/terriajs/pull/3289) once geoglam is updated with the latest terriajs

[2019-04-14 23:43] juan-guerschman commented on #60
https://github.com/TerriaJS/geoglam-nm/issues/46  !!  awesome, that feature is something we really like.

[2019-04-17 05:24] AnaBelgun commented on #60
update done

[2019-04-17 05:24] #60 closed, assigned to na9da

[2019-04-23 06:06] soyarsauce commented on #46
Hi @AnaBelgun - this looks resolved with the latest update in the https://github.com/TerriaJS/geoglam-nm/issues/60 release, I don't have sufficient permissions to close issues on this repo

[2019-04-23 06:10] meh9 commented on #46
@soyarsauce I think I've given you perms now, try again?

[2019-04-23 06:13] juan-guerschman commented on #46
great stuff, thanks. I leave those two layers open by default and no error message now when zooming in.

[2019-04-23 06:15] #46 closed, assigned to nobody

[2019-04-23 06:15] soyarsauce commented on #46
Yep thanks @meh9 !

[2019-05-24 02:55] na9da opened #63 "Investigate & spec: Implement a custom catalog function for vegcover.com"
`vegcover.com` API returns a custom response which cannot be handled by the existing `WebProcessingCatalogFunction`. Implement a custom interface for `vegcover.com`.

Following is a successful API request:

`curl 'https://vegcover.com/tsjson' -H 'Accept: application/json, text/javascript, */*; q=0.01' -H 'Referer: https://vegmachine.net/' -H 'Origin: https://vegmachine.net' -H 'User-Agent: Mozilla

[2019-06-14 04:43] AnaBelgun opened #65 "Geoglam - June 2019 release"
- [x] update to latest terriajs: story update, feedback bug, share from catalogue

[2019-06-18 23:54] #65 closed, assigned to nobody

[2019-06-23 23:44] AnaBelgun commented on #63
pending product owner decision

[2019-07-29 04:23] AnaBelgun opened #67 "Link NRMs guide from About pages"
NRMs representatives find it sometimes very difficult to navigate the tool.
This guide document should be linked from somewhere in the About pages: https://drive.google.com/file/d/17q0G9jfdHtfQKrL_3qo0aC4XKWvf4ogb/view

[2019-07-29 05:18] juan-guerschman commented on #67
I am just getting up to speed with all the things happening, but one of our priorities is to completely revamp the help / about section of GEOGLAM.

[2020-03-02 03:09] AnaBelgun opened #77 "Update logos"
- to update TERN logo on About pages
- logo here: https://drive.google.com/file/d/1HMGP6NX9ZEedNHLs4eAecV1wY5ZBAsKc/view

[2020-03-02 03:10] AnaBelgun opened #78 "Geoglam - Mar 2020 Release"
- [ ] update logos  - https://github.com/TerriaJS/geoglam-nm/issues/77

- [ ] bug fixing - https://github.com/TerriaJS/terriajs/issues/3990

- [ ] update to latest TerriaJS version

[2020-03-02 03:14] na9da commented on #77
I have already replaced the logo with one @Bis-Bala sent me over email, it has TERN + NCRIS in one image that you can [see here](https://github.com/TerriaJS/geoglam-nm/blob/master/wwwroot/images/tern.png).

[2020-03-13 07:20] #77 closed, assigned to na9da

[2020-03-31 01:27] AnaBelgun commented on #78
new version released 12 March 2020

[2020-03-31 01:27] #78 closed, assigned to tephenavies

[2020-06-09 12:48] juan-guerschman opened #83 "Geoglam - June 2020 release"
changed contents of two files (html help material).
needs intervention from @meh9 or @na9da or someone.

thanks

[2020-06-09 12:49] juan-guerschman opened #84 "can the name of the repository be changed?"
from "geoglam" to something else?
Or it messes up lots of other things downstream?

[2020-06-09 23:57] AnaBelgun commented on #84
hi @juan-guerschman what is the new name?

[2020-06-10 02:31] juan-guerschman commented on #84
what about RaPPMap ?

[2020-06-11 11:12] AnaBelgun commented on #84
Hi @KeyboardSounds when you do the release, would you mind changing the repo name and see if we break anything? I would but not sure if causing any issues.

[2020-06-12 02:32] KeyboardSounds commented on #84
@AnaBelgun I don't have the right permissions on the repo to do that, I'm afraid. You'll have to do it for me. No need to wait for a release, just do it and then let me know

[2020-06-15 06:14] KeyboardSounds commented on #83
Released today - 2020-06-15.

[2020-06-15 06:14] #83 closed, assigned to nobody

[2020-07-20 02:07] nf-s opened #87 "Geoglam - Sep - 30 Nov 2020 migration to MobX"
- [x] Needs WMTS in V8 - https://github.com/TerriaJS/terriajs/issues/4218
- [x] Related - https://github.com/TerriaJS/terriajs/pull/4406
- [x] MobX-ing -

Checklist:
- [ ] WMS
- [ ] WMTS
- [ ] WPS

TODOs:

- [x] Initial port to get the map running on v8 - #95
- [x] Do a saas deployment
- [ ] Set default base map
- [ ] Fix feature info templates - some of them use css classes to do funky things, fi

[2020-07-28 11:44] AnaBelgun opened #88 "Geoglam - release on MobX"
Checklist:

- [ ] WMS

- [ ] WMTS

- [ ] WPS

[2020-08-03 01:27] meh9 commented on #84
Fixed!

https://github.com/TerriaJS/RaPPMap

[2020-08-03 01:27] #84 closed, assigned to KeyboardSounds

[2020-08-30 04:19] AnaBelgun commented on #88
superseeded by Sep - Oct migration #87

[2020-08-30 04:19] #88 closed, assigned to nobody

[2020-08-30 04:20] AnaBelgun opened #90 "Geoglam - Decommissioning v7 30 Nov 2020"

[2020-09-29 04:46] rowanwins opened #92 "Catalog-Converter notes"
### Tool run on 29 Sept 2020

#### Models required
- esri-mapServer
- ckan-resource
- wps

#### Properties missing
- ignoreUnknownTileErrors (underway)
- preserveOrder  (underway)
- featureInfoTemplate.info
- featureInfoTemplate.formats (underway)
- keepOnTop (underway)
- clipToRectangle (underway)
- useOwnClock (deprecated)

[2020-09-29 05:14] nf-s commented on #92
Some of those properties are covered by https://github.com/TerriaJS/catalog-converter/issues/12

[2020-09-29 08:51] na9da commented on #92
[WPS](https://github.com/TerriaJS/terriajs/blob/next/lib/Models/WebProcessingServiceCatalogFunction.ts#L98) exists right? Or is it not complete enough to suppor the geoglam service?

[2020-09-29 12:49] rowanwins commented on #92
Yep WPS is implemented in next, 🤞 enough for geoglam configuations

[2020-10-15 05:44] AnaBelgun opened #93 "User alerts - investigate options"
The Geoglam team would like to create alerts on the landing page depending on the reason. Ideally they would like to edit the page themselves.
Here is an example:
_NCI is alerting about "Periodic 10min downtimes 9am-5pm 21-22 October 2020" which affects RaPP Map (GSKY, the MODIS layers and analysis tools)._

[2020-10-16 04:55] AnaBelgun commented on #87
Catalogue conversion: https://github.com/TerriaJS/RaPPMap/issues/92

[2020-10-16 05:11] juan-guerschman commented on #93
I have a ticket about this already:
https://github.com/TerriaJS/terriajs/issues/3685

[2020-10-26 05:05] soyarsauce commented on #93
@na9da added this via https://github.com/TerriaJS/RaPPMap/pull/79 a while back,

@na9da to review and generalise for terriajs / v8

[2020-10-26 05:06] soyarsauce commented on #93
Next sprint as @AnaBelgun flagged this to be addressed post-rollout

[2020-10-26 05:07] soyarsauce commented on #93
Investigate this sprint

[2020-10-27 04:26] AnaBelgun commented on #90
Closing this in favour of https://github.com/terriajs/rappmap/issues/87

[2020-10-27 04:26] #90 closed, assigned to nobody

[2020-10-30 00:18] AnaBelgun commented on #87
- when in dev env, to test adding a new data and running a process using "existing polygon" - @juan-guerschman

[2020-11-09 03:03] AnaBelgun commented on #93
Implementation similar to disclaimer (through the configuration)

[2020-11-19 05:53] na9da commented on #87
### Progress

- [x] ~To add items on workbench on app start - https://github.com/TerriaJS/terriajs/pull/4997 - needs discussion~
- [x] Fixes group item preview errors - https://github.com/TerriaJS/terriajs/pull/5001
- [x] Hides info sections with empty content in preview - https://github.com/TerriaJS/terriajs/pull/4999
- [x] Various WPS fixes - https://github.com/TerriaJS/terriajs/pull/5003
- [x]

[2020-11-23 04:46] na9da commented on #93
For the new instance, I have configured a downtime notice in the disclaimer config that can be turned on/off using a bit of CSS. That should do the job for now!

[2020-11-24 05:43] juan-guerschman commented on #93
is this ready to be tested? How does it work?

[2020-11-27 06:05] na9da commented on #87
For deploying an 80% geoglam we need one more PR to be merged (TerriaJS/catalog-converter#20). The rest are not essential!

[2020-11-27 07:33] nf-s commented on #87
Great thanks @na9da !
Does that catalog-converter PR need to be merged and published for use in Terrace? Or just for converting catalog offline

[2020-12-22 01:12] AnaBelgun commented on #87
Geoglam released on v8 for testing: https://geo-rapp.test.saas.terria.io/
Sent to Ag & Food team to test on 3/12/2020. Pending results.

[2021-01-04 04:51] AnaBelgun opened #100 "Geoglam - Apr 2021 release"
- [x] Feedback from Geoglam team - pending
- [x] update help page https://github.com/TerriaJS/RaPPMap/issues/113
- [x] Legends issues - https://github.com/TerriaJS/RaPPMap/issues/109
- [x] Catalog converter - Open/close state of items in workbench - TerriaJS/catalog-converter#22 - Merged
- [x] Support adding items to workbench on load - TerriaJS/catalog-converter#26
 - [x] catalog-converter PR for

[2021-01-04 04:55] AnaBelgun commented on #87
This ticket is superseded by monthly release ticket/s https://github.com/TerriaJS/RaPPMap/issues/100

[2021-01-04 04:55] #87 closed, assigned to na9da, nf-s

[2021-01-04 05:48] AnaBelgun opened #101 "Geoglam - v7 Jan release"
Based on this ticket https://github.com/TerriaJS/devops/issues/30, this urgent release is due to expiration of Bing maps usage on 31 Jan which affects Bing maps and Bing geocoder.
- update the Cesium ION key with premium account one
- include updated geocoder: https://github.com/TerriaJS/terriajs/issues/5107

[2021-01-28 05:25] peterhassall commented on #101
https://map.geo-rapp.org/ has been updated with a new Bing Maps key, and configured to get imagery from Cesium ION.

[2021-01-28 05:25] #101 closed, assigned to peterhassall

[2021-02-10 07:42] juan-guerschman opened #104 "v7 to v8 - dates not displayed correctly"
![image](https://user-images.githubusercontent.com/8801702/107479533-5990db80-6bcf-11eb-911f-be476081a3dd.png)
also:

![image](https://user-images.githubusercontent.com/8801702/107479708-9a88f000-6bcf-11eb-8768-ebaea5159039.png)

and

![image](https://user-images.githubusercontent.com/8801702/107479812-bd1b0900-6bcf-11eb-8c1c-0d2f63c58d0f.png)

[2021-02-10 07:44] juan-guerschman opened #105 "v7 to v8 - none of the WPS work"
none of our WPS items under "analysis tools" work

`{
      "name": "Analysis Tools",
      "type": "group",
      "description": "The Analysis Tools provide time-series data for selected points (pixels) or regions (polygons). \n\nThe \"Mean for point or region\" function returns the mean value for the vegetation fractional cover fractions and precipitation for a given region or pixel.\n\nThe \"Pr

[2021-02-10 07:46] juan-guerschman opened #106 "v7 to v8 - search for locations doesn't work"
![image](https://user-images.githubusercontent.com/8801702/107480185-4df1e480-6bd0-11eb-8c72-2a4341792fce.png)

[2021-02-10 07:49] juan-guerschman opened #107 "v7 to v8 - none of the Bing Maps base layers work"
![image](https://user-images.githubusercontent.com/8801702/107480390-9dd0ab80-6bd0-11eb-9234-d93b025c4a05.png)

[2021-02-10 07:52] juan-guerschman opened #108 "v7 to v8 - feature info template doesn't work as expected"
![image](https://user-images.githubusercontent.com/8801702/107480578-ebe5af00-6bd0-11eb-94be-6d089fa3bed6.png)

https://github.com/TerriaJS/RaPPMap/blob/master/wwwroot/init/geoglam.json#L1802

(feature with template)

[2021-02-10 07:58] juan-guerschman opened #109 "v7 to v8 - no legends shown for several layers"
![image](https://user-images.githubusercontent.com/8801702/107480907-74fce600-6bd1-11eb-9252-5c5c931b2c21.png)

seems to be with GSKY layers, MapServer,

Geoserver seems ok (but I haven't tested all of them)

[2021-02-10 08:00] juan-guerschman commented on #108
actually it does show when clicked, but not by default as we wish and like in v7

[2021-02-13 04:33] AnaBelgun commented on #105
To check first what is missing from WPS support in V8: https://github.com/TerriaJS/terriajs/pull/4068

[2021-02-13 04:56] AnaBelgun commented on #100
Migration from v7 to v8 https://geo-rapp.test.saas.terria.io/

- [x] WPS - https://github.com/TerriaJS/terriajs/issues/5150

- [x] dates not displaying the entire date, just the year - https://github.com/TerriaJS/RaPPMap/issues/104
- [x] search by location doesn't work - https://github.com/TerriaJS/RaPPMap/issues/106
- [x] Bing base maps don't work - https://github.com/TerriaJS/RaPPMap/issues/107

[2021-02-16 06:39] nf-s commented on #109
Hi @juan-guerschman I think i have fixed the issue:

- The Legends weren't displaying due to us changing how we request WMS legends - the GSKY WMS doesn't advertise legends for those layers or `GetLegendGraphic` support in GetCapabilities. Our new default is that we don't request `GetLegendGraphic` unless it is advertised, or we can identify the service as a Geoserver or NcWMS. To overcome this I

[2021-02-16 22:33] juan-guerschman commented on #109
thanks
Can the date for the monthly layers be yyyy/mm, and the date for the 8-day layers be yyyy/mm/dd ?

[2021-03-04 23:00] na9da commented on #105
@juan-guerschman confirmed that the WPS in v8 is working and can be opened by clicking on the text of the item in the catalog explorer.

 However, in v8 the catalog functions show a `+` icon in the explorer instead of the analysis (chart like) icon in v7. Clicking the `+` icon tries to add the item to workbench with no effect. This should be fixed to match the v7 behavior.

[2021-03-26 05:42] juan-guerschman opened #113 "update our help page please"
https://github.com/TerriaJS/RaPPMap/commit/ee950c4b75866292b1f76f56b0f0df42e7446e1d

[2021-04-10 03:22] AnaBelgun opened #115 "Geoglam - v8 release"
- [x] feature info https://github.com/TerriaJS/RaPPMap/issues/108
- [x] Bing map layers https://github.com/TerriaJS/RaPPMap/issues/107
- [x] search location - https://github.com/TerriaJS/RaPPMap/issues/106
- [x] dates display  https://github.com/TerriaJS/RaPPMap/issues/104
- [x] https://github.com/TerriaJS/RaPPMap/issues/105
- [x] https://github.com/TerriaJS/RaPPMap/issues/119

[2021-04-22 08:09] nf-s commented on #109
Done!
Sorry for the delay

[2021-04-22 08:09] #109 closed, assigned to nf-s

[2021-04-22 08:21] nf-s commented on #104
Done!

![image](https://user-images.githubusercontent.com/6187649/115681081-86175f80-a397-11eb-9b13-2e4bdeaebd45.png)

[2021-04-22 08:21] #104 closed, assigned to nobody

[2021-04-22 08:26] nf-s commented on #107
Fixed! Had to update bingMapsKey

[2021-04-22 08:27] nf-s commented on #106
Fixed - related to https://github.com/TerriaJS/RaPPMap/issues/107

Had to update bingMapKey

[2021-04-22 11:12] nf-s commented on #108
Feature info is now showing by default when a feature is selected

[2021-04-22 11:35] nf-s commented on #113
Done - https://geo-rapp.prod.saas.terria.io/about/help

[2021-04-22 11:35] #113 closed, assigned to nobody

[2021-04-23 04:36] nf-s commented on #100
All done!

[2021-04-23 04:36] #100 closed, assigned to nf-s

[2021-05-28 01:03] juan-guerschman commented on #107
I don't see Bing maps in https://beta.geo-rapp.terria.io/

[2021-05-28 01:07] juan-guerschman commented on #108
I still see it collapsed by default
https://beta.geo-rapp.terria.io/#share=s-sGT0e43vlJDDeoukZFiOIJvS9ba

[2021-05-28 01:08] juan-guerschman commented on #106
still not working for me in https://beta.geo-rapp.terria.io/
Maybe related to Bing maps not working

[2021-06-24 02:30] juan-guerschman opened #116 "updated Help.html, can we have it up in V7?"
https://github.com/TerriaJS/RaPPMap/blob/ee950c4b75866292b1f76f56b0f0df42e7446e1d/wwwroot/help/help.html

[2021-06-24 06:42] juan-guerschman commented on #107
looks like it's working now? Can be closed?

[2021-06-25 08:30] #107 closed, assigned to nobody

[2021-07-12 05:48] juan-guerschman commented on #108
seems to be working ok now.

[2021-07-12 05:48] #108 closed, assigned to nobody

[2021-07-12 05:48] juan-guerschman commented on #106
works fine

[2021-07-12 05:48] #106 closed, assigned to nobody

[2021-07-20 10:18] AnaBelgun opened #117 "Geoglam - implement multi polygon WPS"
One feature many users want is the ability to do "multiple polygons" WPS requests.
Meaning selecting several polygons, or uploading a kml/geojson with several polygons and submitting requests, and avoiding the current situation where they have to do it one by one.
Question: is something like that currrently possible with Terria? If not, how much development do you think would be associated with th

[2021-07-30 05:00] na9da commented on #117
I think there are 2 aspects to implementing this requirement:

* Technical feasibility - Technically this looks feasible. The API already accepts any GeoJson `FeatureCollection` as input. So we can pass any number of Points or Polygons. The API response is a terriajs catalog definition which can have multiple catalog items, one per shape.

* UX - We need more thought on how we will change the UI t

[2021-07-30 05:25] nf-s commented on #117
Yep love this idea.

This might also be a good opportunity to look into a "Drawing" or "Annotation" UI mode - maybe something similar to `leaflet-draw` works (eg http://geojson.io)

[2021-09-23 00:47] meh9 opened #118 "intermittent issue with Share URL"
There's an intermittent issue with Share URL's on the GEOGLAM map. Using this share URL:

https://map.geo-rapp.org/#share=s-6wRgY4AkNK1pBl8UAHhZrFLdYhT

Occasionally there is a problem loading the share URL:

<img width="903" alt="Screen Shot 2021-09-23 at 10 45 40" src="https://user-images.githubusercontent.com/5283003/134440046-19607812-5dea-4d29-9d3f-e30b117d717c.png">

The reported error when

[2021-10-28 21:46] juan-guerschman commented on #105
not working on https://beta.geo-rapp.terria.io/
`not found in config processes: /ows/geoglam?service=WPS&request=Execute&version=1.0.0`

[2021-10-28 21:49] juan-guerschman opened #119 "v7 to v8 - not latest version of v7 catalog in v8 beta"
example:
current v7
![image](https://user-images.githubusercontent.com/8801702/139341063-307c89e0-0376-40d8-ac77-e6ed11677911.png)

v8 beta:
![image](https://user-images.githubusercontent.com/8801702/139341088-36b40e87-f913-4105-9311-88fc78c23ad7.png)

[2021-11-02 03:15] juan-guerschman opened #120 "Geoglam - Help pages - updates"
should be pointing to https://map.geo-rapp.org/help/help.html

![image](https://user-images.githubusercontent.com/8801702/139781160-b21b1f8f-ae5f-47f2-b492-e78c7d8587e3.png)

[2021-11-04 07:32] AnaBelgun commented on #120
Hi @juan-guerschman the Help feature has changed in v8 considerably.
The help and FAQ web pages are currently decommissioned for all SaaS maps. They are very difficult to maintain individually and most of times are out of date.

However, there are some options:
- you add all the content you have made specifically for geoglam on a separate website and in the Help menu, we listed as a link (like we

[2021-12-02 00:11] juan-guerschman commented on #120
Ana,
I think we can go with the default mode (what I see in Nat Map and in DEA Map) , but ideally in the step by step guide add 14 points for each on e of the steps we have listed in https://map.geo-rapp.org/help/help.html
Can we do that and switch to V8?

[2021-12-02 05:03] AnaBelgun commented on #120
hi @juan-guerschman we need to clarify few things.
The step by step guide is a bit different than other items in the Help menu. When you click on a topic under the Step by Step, it opens a separate workflow on the landing page. That is quite laborious to recreate for 14 different items at this stage, We're looking at re-configuring that in the future or even decommissioning.
![image](https://user-

[2021-12-06 03:57] nf-s commented on #105
Fixed by https://github.com/TerriaJS/terriajs/pull/6030

Test link:
http://ci.terria.io/wps-v7-fix/#configUrl=https://raw.githubusercontent.com/TerriaJS/saas-catalogs-public/main/geo-rapp/map-config/dev.json

[2021-12-06 04:43] juan-guerschman commented on #105
how do I test it? The link above doesn't have the WPS in the catalog. In the one I was using https://beta.geo-rapp.terria.io/ the WPS work but don't show the results in a plot.

[2021-12-06 05:05] nf-s commented on #105
Hi @juan-guerschman sorry I put the wrong test link - I have just updated it. You should be able to see WPS in the catalog now

[2021-12-06 05:21] juan-guerschman commented on #105
thanks. Works fine with point, polygon, but not with "existing polygon". The expected behaviour is to allow the user to click on an existing polygon on the screen.

[2021-12-06 05:58] nf-s commented on #105
OK, I'll look into it and let you know when I have a fix

[2021-12-06 09:27] nf-s commented on #105
Hi @juan-guerschman "existing polygon" should be working now. You can test it with the same link above

Cheers,
Nick

[2021-12-06 23:37] juan-guerschman commented on #105
point and polygon working fine, but existing polygon still throwing an error:

I'm using apolygon from  https://geo.abs.gov.au/arcgis/rest/services/ASGS2016/SA2/MapServer/1

[code]

[2021-12-07 11:06] nf-s commented on #105
Hi @juan-guerschman

I've fixed the feature picking issue, please let me know if it works for you.

http://ci.terria.io/wps-v7-fix/#configUrl=https://raw.githubusercontent.com/TerriaJS/saas-catalogs-public/main/geo-rapp/map-config/dev.json

Cheers,
Nick

[2021-12-07 11:09] nf-s commented on #105
~Actually, I have just found a polygon which fails - give me a minute.~

Never mind, the polygon I selected was too large - the server responded with something like this:

[code]

Other than that, it seems to be working!

[2022-01-18 05:01] nf-s commented on #105
Currently there is an issue with calling GSKY WPS through TerriaJS-server

For example:

### Proxied through TerriaJS-Server

[code]

The request will time-out (504 Gateway Time-out)

### Direct request

[code]

Works fine

[2022-01-18 05:04] nf-s commented on #105
I am removing proxy for now - by adding `gsky.nci.org.au` to `corsDomains`

[2022-01-24 04:21] nf-s commented on #105
This was due to https://github.com/TerriaJS/terriajs-server/issues/146 - fixed by downgrading NodeJS to 14

[2022-01-24 06:05] nf-s commented on #119
Updated in dev

[2022-01-27 03:03] nf-s commented on #105
Working dev and test

https://geo-rapp.test.saas.terria.io/

[2022-01-27 05:39] nf-s commented on #105
Working in production!
https://beta.geo-rapp.terria.io

[2022-01-27 05:39] #105 closed, assigned to nf-s

[2022-01-27 05:43] nf-s commented on #115
Done!

[2022-01-27 05:43] #115 closed, assigned to nf-s

[2022-02-28 02:42] juan-guerschman commented on #119
several urls in the beta catalog point to https://geoglam.ternlandscapes.net.au/geoserver/aust/wms when they should point to https://geoglam.ternlandscapes.org.au/geoserver/aust/wms

This was changed in Jul 22 2021:
https://github.com/TerriaJS/RaPPMap/commit/54b6a02e15dfd6785ee0d88493b06ed49e48b92a

[2022-02-28 02:49] juan-guerschman opened #121 "v7 to v8 - is 2D and initial position and zoom level easy to set up in catalog?"
current v7 version defines that in the catalog , example https://github.com/TerriaJS/RaPPMap/blob/master/wwwroot/init/geoglam.json#L12

also, does v8 allow for "customised initial catalog" variant?
for example, we have https://github.com/TerriaJS/RaPPMap/blob/master/wwwroot/init/australia.json  which we call with https://map.geo-rapp.org/#australia and that's very handy.
@AnaBelgun  ?

[2022-02-28 03:20] juan-guerschman opened #122 "v7 to v8 - description of two WPS items:"
https://github.com/TerriaJS/RaPPMap/blob/master/wwwroot/init/geoglam.json#L1931
and
https://github.com/TerriaJS/RaPPMap/blob/master/wwwroot/init/geoglam.json#L1938

in v7:
![image](https://user-images.githubusercontent.com/8801702/155918543-984612d1-3935-4999-b987-cde1dcfc2d31.png)

in v8 beta:
![image](https://user-images.githubusercontent.com/8801702/155918594-7e999dd2-9bf1-4099-ad67-dc74fb29f33

[2022-02-28 13:01] nf-s commented on #119
Hi @juan-guerschman sorry I missed that change when updating the catalog.

I have added those changes to the test environment https://geo-rapp.test.saas.terria.io/

[2022-02-28 22:15] juan-guerschman commented on #119
thanks!

[2022-03-01 01:45] #119 closed, assigned to nf-s

[2022-03-01 22:44] AnaBelgun opened #123 "Geoglam - v8 release"
Dev SaaS: [geo-rapp.dev.saas.terria.io](https://geo-rapp.dev.saas.terria.io/)

- [x] https://github.com/TerriaJS/RaPPMap/issues/122
- [x] https://github.com/TerriaJS/RaPPMap/issues/121
- [x] https://github.com/TerriaJS/terriajs/issues/6324
- [ ] https://github.com/TerriaJS/RaPPMap/issues/120 - decision made to update that at a later date

[2022-03-02 03:33] AnaBelgun commented on #121
yes, we need to send Geoglam team an explanation

[2022-03-08 05:39] #122 closed, assigned to na9da

[2022-03-10 09:16] tephenavies commented on #121
Hi @juan-guerschman. Initial camera position and setting 2d is the same in v8 as in v7. And we still support `#init-file` urls.

[2022-03-11 02:55] AnaBelgun commented on #121
replied to question

[2022-03-11 02:55] #121 closed, assigned to tephenavies

[2022-03-20 23:57] AnaBelgun commented on #123
Update 21 Mar 2022:
- ana meeting with Geoglam new lead this week to confirm Help menu url and new names for generic Help sections
- they chose to point the Map guide to (their) new url, so they can manage changes

![image](https://user-images.githubusercontent.com/18452161/159191558-aa2a27d7-77c1-4cc2-948f-2cdd8dc121cb.png)

[2022-03-21 00:48] AnaBelgun commented on #93
to park for now

[2022-03-21 00:48] #93 closed, assigned to nobody

[2022-03-21 00:50] AnaBelgun commented on #63
to park for now

[2022-03-21 00:50] #63 closed, assigned to nobody

[2022-06-07 02:41] AnaBelgun opened #124 "Change zoom on landing page to focus on Australia"
Current zoom on landing page is focused on Africa
https://geo-rapp.prod.saas.terria.io/
![image](https://user-images.githubusercontent.com/18452161/172284167-88dd8178-d59e-40a4-87cd-97f60a7473fa.png)

Change the zoom to focus on Australia
![image](https://user-images.githubusercontent.com/18452161/172284250-22fbe440-f9dd-4fd5-8797-365cf8686f3b.png)

[2022-06-08 04:02] nf-s commented on #124
Done

https://beta.geo-rapp.terria.io/

[2022-06-08 04:02] #124 closed, assigned to nf-s

[2022-07-05 09:07] AnaBelgun commented on #123
This is closed; work is tracked under https://github.com/TerriaJS/saas/issues/190

[2022-07-05 09:07] #123 closed, assigned to nf-s

[2022-07-06 12:35] nf-s opened #125 "Fix `#australia` path"
- [x] https://github.com/TerriaJS/terriajs/pull/6395
- [x] https://github.com/TerriaJS/terriajs/pull/6396

[2022-07-07 11:16] nf-s commented on #92
## Errors as of 07/07/2022

[code]

[2022-07-07 11:17] nf-s commented on #118
No longer relevant. In Saas/v8, AWS S3 access keys are now set explicitly in TerriaJS server config

[2022-07-07 11:17] #118 closed, assigned to nobody

[2022-07-07 11:23] nf-s commented on #47
I believe this is done

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/6187649/177762274-eabb52fb-9b26-409f-b18e-60f92512ec02.png">

[2022-07-07 11:23] #47 closed, assigned to nobody

[2022-07-07 11:24] nf-s commented on #39
I believe this is done

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/6187649/177762356-b0ba7b2c-63a2-41e7-b33f-3e81d6e2f81d.png">

[2022-07-07 11:24] #39 closed, assigned to meh9

[2022-07-07 11:24] nf-s commented on #18
I believe this is done

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/6187649/177762434-0aef0e88-f4a1-420e-9579-e7884b731597.png">

[2022-07-07 11:24] #18 closed, assigned to nobody

[2022-07-07 11:26] nf-s opened #126 "GSKY WCS/export not working"
V8 only supports WCS version 2.0

GSKY WCS only supports version 1.0
https://opus.nci.org.au/pages/viewpage.action?pageId=137199852

[2022-08-16 23:33] AnaBelgun opened #127 "Set 2D mode as default"
For a simpler user experience the app should be opened in 2D mode by default.

[2022-08-16 23:36] AnaBelgun opened #128 "Set Australia tab first and default"
Since this app has majority of users in Australia, make the Aus tab first and default under the Explore data tabs.

![image](https://user-images.githubusercontent.com/18452161/185003042-a4f6487e-45ef-4968-bbf4-a77e2c012743.png)

[2022-08-17 00:04] AnaBelgun opened #129 "Test and fix search"
- there are duplicate results TBC

ran "land" and couldn't get duplicates
![image](https://user-images.githubusercontent.com/18452161/185005342-86766df7-842f-4811-8d3c-0a12b1dc5257.png)
 to test 'decline' - couldn't get any results

[2022-08-17 00:11] AnaBelgun opened #130 "Catalogue management - by Geoglam team"
- share catalogue JSON and instructions with Geoglam team
- point to new catalogue file

[2022-08-17 00:11] AnaBelgun commented on #120
Help links (proposed)
•	v8 Help dropdown - what to keep from:
o	gettingstarted.title > Link to Help pages (eo-data) > from Help doc
o	stepbystepguide.title > Link to Videos page (eo-data)
o	Share & Story migration > Delete
o	Map user guide > TerriaMap (generic) Help
•	About tab
o	About > Link to About page (eo-data) > Update
o	Help > Link to Help pages
o	Videos > Link to videos page
o	Privacy > Up

[2022-08-18 23:34] AnaBelgun opened #131 "Export of Total Vegetation Cover not working - investigate"
To investigate why the Total veg cover export function is not working.
Could it be because the TVC web service is not set up to support exporting GeoTIFFs/any files?
Comment from custodian: "it used to work in v7"

- Go to https://map.geo-rapp.org/
- remove Place Labels and Coastlines datasets from workbench
- Under the 3 dots menu, select Export and follow the prompts to select a polygon (try to

[2022-08-22 20:23] nf-s opened #132 "Fix Help guides"
<img width="1728" alt="image" src="https://user-images.githubusercontent.com/6187649/186012079-b617c877-ca6b-4e82-9201-0483f60cfef8.png">

[2022-08-22 20:24] nf-s commented on #131
Duplicate of https://github.com/TerriaJS/RaPPMap/issues/126

[2022-09-19 07:30] nf-s commented on #127
Done in

- Dev https://geo-rapp.dev.saas.terria.io/
- Test https://geo-rapp.test.saas.terria.io/

[2022-09-19 07:31] nf-s commented on #128
Done in

- Dev https://geo-rapp.dev.saas.terria.io/
- Test https://geo-rapp.test.saas.terria.io/

[2022-09-23 07:11] nf-s commented on #125
Done in

- Dev https://geo-rapp.dev.saas.terria.io/#australia
- Test https://geo-rapp.test.saas.terria.io/#australia

[2022-09-26 01:51] nf-s commented on #125
Done in production

https://map.geo-rapp.org/#australia

[2022-09-26 01:51] #125 closed, assigned to nf-s

[2022-09-26 01:51] nf-s commented on #127
Done in production

https://map.geo-rapp.org/

[2022-09-26 01:51] #127 closed, assigned to nf-s

[2022-09-26 01:51] nf-s commented on #128
Done in production

https://map.geo-rapp.org/

[2022-09-26 01:51] #128 closed, assigned to nf-s

[2022-10-31 04:58] AnaBelgun commented on #120
Update 31 Oct 2022:

- [x] Redirect https://map.geo-rapp.org/about to https://eo-data.csiro.au/remotesensing/rapp-help/
- [ ] Help pop-out
a.	Change text to “We're here to help .. Find useful tips on how to use RaPP Map by either checking the guides below or by contacting the team at [geoglam.rapp at csiro.au](mailto:geoglam.rapp@csiro.au)”
b.	“Getting started” > link to https://eo-data.csiro.au/r

[2022-11-02 04:09] nf-s commented on #120
PRs to add ability to change About button URL

- [x] https://github.com/TerriaJS/terriajs/pull/6611
- [x] https://github.com/TerriaJS/TerriaMap/pull/630

[2022-11-02 07:25] nf-s commented on #120
For landing page - we don't have the ability to add "Don't show this message again" option.

I think we would need to get Phil to mockup something for this

Is this OK?

![image](https://user-images.githubusercontent.com/6187649/199425642-84a7b10c-5abb-426e-a04d-d0a0293c1fab.png)

[2022-11-03 00:36] nf-s commented on #120
To change "help links" text, I need to add ability to override language translation files in SaaS. Should be done today

[2022-11-03 00:58] AnaBelgun commented on #120
@nf-s instead of the checkbok can we have the same behaviour as here:
![image](https://user-images.githubusercontent.com/18452161/199629207-705cda85-6925-4fe4-9cbc-3e4ab9e18bda.png)

i.e. we leave the disclaimer page as you did it but add at the bottom the text
"close message and don't show me this again".

[2022-11-03 01:04] nf-s commented on #120
We can use the "welcome message" functionality.

At the moment we don't have a way to remove the video and buttons per map - so it will look something like this:

![image](https://user-images.githubusercontent.com/6187649/199629640-f6575844-1155-4056-a81b-4b4e289304b1.png)

We can change the video and video title easily.

[2022-11-03 01:48] AnaBelgun commented on #120
Hm it looks a bit busy. How about we take the branding out?

@mpaget we have a question for you; which one out of the following options would suit best? I think nr 2 is too busy, but check them out

1) No "close message and don't show me this again" but all the other elements
![image](https://user-images.githubusercontent.com/18452161/199633617-69d274c0-121f-457b-a531-e8712f4e1ee9.png)
2) Get you

[2022-11-03 02:01] mpaget commented on #120
Thanks for your work on this and considerations. I vote for option 1.
I understand the main intent of "don't show this again" is to make the entry simpler (ie.I don't want to see the previous long message again). The shorter text and logo set (option 1) reasonably meets this objective just as well, I think.

[2022-11-03 05:43] nf-s commented on #120
PR to add ability to override translation strings per SaaS map. This is required to make specified changes to the help panel

- [x] https://github.com/TerriaJS/terriajs/pull/6615

[2022-11-11 03:46] nf-s commented on #120
I have done the following in test - https://geo-rapp.test.saas.terria.io/

- About button now opens https://eo-data.csiro.au/remotesensing/rapp-help/
- Simplified welcome message/landing page modal
- Changes to help panel
  - Change text to “We're here to help .. Find useful tips on how to use RaPP Map by either checking the guides below or by contacting the team at [geoglam.rapp at csiro.au](mail

[2022-11-15 03:17] AnaBelgun commented on #120
@mpaget hi do you have an update if we can push this to production? Thank you.

[2022-11-15 04:05] mpaget commented on #120
Still waiting on feedback from ABARES. John said initial test looked good.

[2022-11-16 23:10] mpaget commented on #120
Feedback received ("Looks great"). Nothing further to add at this time. Please proceed to production at your convenience. Thank you!

[2022-11-18 05:58] AnaBelgun commented on #120
@nf-s we are ready to go (on Monday). Thank you.

[2022-11-22 00:52] nf-s commented on #120
Pushed changes to production!

https://map.geo-rapp.org/

[2022-11-22 00:52] #120 closed, assigned to nf-s

[2022-11-22 01:37] mpaget commented on #132
I think this can be closed via https://github.com/TerriaJS/RaPPMap/issues/120

[2022-11-22 01:45] #132 closed, assigned to nobody

[2022-11-22 01:46] mpaget commented on #126
We're presently developing/configuring/deploying a `datacube-wps` service (uses `pywps`), see https://github.com/csiro-easi/datacube-wps. For RappMap we expect this will replace GSKY. Will be in touch when its ready for testing with Terria (Dec 2022 or Jan 2023).

[2022-11-22 01:49] mpaget commented on #116
I think this can be closed via https://github.com/TerriaJS/RaPPMap/issues/120

[2022-11-22 01:50] mpaget commented on #67
I think this can be closed via https://github.com/TerriaJS/RaPPMap/issues/120

[2022-11-22 01:53] mpaget commented on #14
I think this can be closed via https://github.com/TerriaJS/RaPPMap/issues/120

[2022-11-22 01:57] mpaget opened #133 "Connect EASI WPS with Terria"
We're presently developing/configuring/deploying a datacube-wps service (uses pywps), see https://github.com/csiro-easi/datacube-wps. For RappMap we expect this will replace GSKY. Will be in touch when its ready for testing with Terria (Dec 2022 or Jan 2023).

Related to:
- https://github.com/TerriaJS/RaPPMap/issues/126
- https://github.com/TerriaJS/RaPPMap/issues/117
- https://github.com/TerriaJS

[2022-11-22 02:37] #14 closed, assigned to nobody

[2022-11-22 02:37] #67 closed, assigned to nobody

[2022-11-22 02:38] #116 closed, assigned to nobody

[2022-11-22 22:58] #117 closed, assigned to nobody

[2022-11-22 22:58] #4 closed, assigned to nobody

[2022-11-22 22:58] #23 closed, assigned to nobody

[2022-11-22 22:58] #92 closed, assigned to nobody

[2022-11-22 22:59] AnaBelgun commented on #126
I think we should close this until GSKY is replaced; re-test and re-open if needed.

[2022-11-22 23:00] AnaBelgun commented on #129
@mpaget Hi, would you please re-test this and let us know if still not working, We have updated the index and included an automated way to run it.

[2022-11-23 03:47] #131 closed, assigned to staffordsmith83

[2022-11-23 21:23] mcass-abares commented on #129
Duplicate results still occur when using the Location search bar or searching the data catalogue using the location search bar. (24 November 2022). I'm not sure what the difference is with the location search returns. Data layer duplicates are because search returns are being drawn from both Australia and Global tab.
![DuplicateDatalayersearchreturns_20221124](https://user-images.githubusercontent

[2022-11-23 22:28] AnaBelgun commented on #129
hi @nf-s I don't think there is an issue with search per se, right? Location results are drawn from a couple of geocoders and data search duplicates might be because of tabs.

[2022-11-23 22:37] meh9 commented on #129
The search is correct - as far as the system is concerned these are two different layers. It is purely coincidental that they have the same name:

<img width="657" alt="Screen Shot 2022-11-24 at 09 32 55" src="https://user-images.githubusercontent.com/5283003/203657128-6f5d1207-ab0a-4572-9110-dde63a48960b.png">

<img width="752" alt="Screen Shot 2022-11-24 at 09 33 23" src="https://user-images.git

[2022-11-23 22:40] meh9 commented on #129
There is an interesting bug here though, if you search the catalogue without having clicked on the different catalogue tabs you only get a partial path:

<img width="490" alt="Screen Shot 2022-11-24 at 09 39 06" src="https://user-images.githubusercontent.com/5283003/203657823-e7330de0-7ab9-43f5-a25f-16171bec1dac.png">

However, if you:
1. Open the catalogue
2. click on the Global tab
3. click back

[2022-11-23 23:23] nf-s commented on #129
Different "Parkes" results are coming from the geocoder API.

<img width="644" alt="image" src="https://user-images.githubusercontent.com/6187649/203662439-e2c30128-50a8-4e56-ab95-7ddb809353aa.png">

@meh9 is correct in that both those layers are separate, so they will both appear in search results.

[2022-11-24 03:56] mcass-abares commented on #129
Thanks for looking into this. I can't see the hover over at all. This path location would be extremely helpful. Is there anything I should have done to enable this?

[2022-11-24 03:59] mcass-abares commented on #129
Ok I see the hover over is available for data catalogue entries not locations. It would be great to have something like this for locations to be able to make an informed choice about which Geocoder return to choose e.g. the information you show above about the confidence of the return except I still can't see what the difference is between return 2-5.

 Agree with your point above about not gettin